/* Estilos de Rick and Morty */
.buttonContainer {
    background-color: #14ffec; 
    color: #0a0813; 
    border: auto;
    border-radius: 21px;
    padding: 7px 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
  }

.rickMortyButton {
    background-color: #51d2d5; /* Turquesa */
    color: #fff; /* Texto en blanco */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .rickMortyButton:hover {
    background-color: #45b6b9; /* Cambio de color al pasar el cursor */
  }
  
  .rickMortyButton:active {
    background-color: #3e9ea1; /* Cambio de color al hacer clic */
  }
  