@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

h1{
  font-family: 'Skranji', cursive;
  font-weight: 700;
}

p{
  font-family: 'Skranji', cursive;
  font-weight: 400;
}